#MIP Analysis

This script analyses the data generated by the merger of the ownership data and the company panel information

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load the datasets

In [51]:
df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies.csv")
df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners.csv")

C:\Users\lucas\AppData\Local\Temp\ipykernel_22172\2616293258.py:1: DtypeWarning: Columns (19,29,48,49,50,51,52,53,55,63,74,75,76,77,78,79,80,81,84,85,88,89,93,98,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,134,135,136,137,142,143,144,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,199,200,206,208,209,210,211,213,217,218,219,220,231,235,236,237,238,239,240,247,248,251,252,254,255,256,257,258,260,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,310,312,314,316,318,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,386,400,404,408,409,410,411,412,413,427,429,435,438,439,440,441,442,443,444,445,446,447,448,449,450,464,467,469,472,474,477,479,482,484,487,489,492,494,497,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,540,541,542,549,550,551,553,554,555,556,557,558,559,560,562,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,595,598,605,608,612,613,614,617,620,621,622,624,625,626,627,628,629,637,638,639,644,645,646,647,648,649,651,656,657,658,659,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,725,726,727,728,729,730,731,733,735,737,738,741,743,756,757,758,759,760,761,762,766,769,772,774,778,779,780,781,782,783,784,786,787,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,842,845,847,851,855,858,861,862,863,864,865,869,870,871,872,873,875,877,880,884,887,890,893,896,899,902,907,913,918,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,952,954,956,960,962,963,965,967,968,969,970,978,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1029,1032,1034,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1093,1095,1097,1099,1101,1105,1106,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1160,1162,1163,1164,1165,1171,1181,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1212,1213,1214,1215,1216,1217,1218,1224,1226,1228,1230,1232,1246,1264,1284,1294,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1316,1318,1319,1321,1323,1325,1326,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1407,1408,1409,1410,1411,1412,1413,1414,1416,1420,1421,1422,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1474,1475,1476,1477,1478,1485,1487,1489,1491,1499,1501,1502,1503,1504,1505,1507,1512,1522,1533,1534,1535,1536,1537,1541,1544,1545,1547,1548,1551,1552,1554,1555,1556,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1582,1584,1586,1588,1590,1592,1598,1617,1618,1619,1620,1621,1622,1623,1624,1627,1628) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies.csv")
C:\Users\lucas\AppData\Local\Temp\ipykernel_22172\2616293258.py:2: DtypeWarning: Columns (7,76,172,173,174,175,176,177,178,179,180,181,182,183,184,185,197,206,207,208,223,224,225,226,227,228,253,276,277,278,280,281,282,317,318,319,321,322,323,325,326,327,329,330,331,332,333,335,336,337,338,339,340,341,342,343,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,374,538,553,554,555,556,557,583,586,593,596,600,601,602,615,616,625,645,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,713,714,718,719,731,744,745,746,747,748,749,750,754,757,760,762,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,912,913,914,953,969,971,972,973,974,975,976,977,978,979,982,983,984,985,986,987,988,989,990,992,993,994,995,997,998,999,1000,1002,1003,1004,1005,1022,1025,1026,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1093,1094,1150,1159,1169,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1201,1202,1203,1204,1205,1206,1234,1252,1272,1282,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1313,1316,1317,1322,1323,1325,1326,1328,1329,1331,1332,1334,1335,1337,1338,1339,1342,1343,1345,1346,1347,1349,1350,1351,1352,1353,1354,1356,1358,1359,1362,1364,1365,1368,1370,1371,1373,1374,1376,1377,1378,1379,1380,1381,1382,1383,1384,1386,1387,1388,1389,1390,1392,1395,1396,1397,1398,1399,1400,1402,1428,1429,1430,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1460,1463,1464,1465,1466,1489,1490,1491,1492,1493,1495,1510,1521,1529,1532,1535,1539,1540,1548,1550,1570) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners.csv")

Two columns indicating if the company was involved in a ownership change in any of the panel years, one for `b_crefo` and one for `ownerid`

In [52]:
df_merged_companies["is_owner_change_company"] = df_merged_companies.groupby(["companyid"])["is_owner_change"].transform('any')
df_merged_companies["is_ownerid_change_company"] = df_merged_companies.groupby(["companyid"])["is_ownerid_change"].transform('any')

Further four columns were added, in order to indicate when the ownership change took place.

Change of ownership based on `b_crefo`: 
- 2009-2014 = `is_owner_change_2009`
- 2015-2017 = `is_owner_change_2015`

Change of ownership based on `ownerid`:
- 2009-2014 = `is_ownerid_change_2009`
- 2015-2017 = `is_ownerid_change_2015`

In [53]:
# b_crefo, 2009-2014
df_merged_companies["is_owner_change_2009"] = np.where((df_merged_companies["is_owner_change"] == True) & (df_merged_companies["panel_year"] > 2008) & (df_merged_companies["panel_year"] < 2015), True, False)
df_merged_companies["is_owner_change_2009"] = df_merged_companies.groupby(["companyid"])["is_owner_change_2009"].transform('any')

# b_crefo, 2015-2017
df_merged_companies["is_owner_change_2015"] = np.where((df_merged_companies["is_owner_change"] == True) & (df_merged_companies["panel_year"] > 2014) & (df_merged_companies["panel_year"] < 2018), True, False)
df_merged_companies["is_owner_change_2015"] = df_merged_companies.groupby(["companyid"])["is_owner_change_2015"].transform('any')

# ownerid, 2009-2014
df_merged_companies["is_ownerid_change_2009"] = np.where((df_merged_companies["is_ownerid_change"] == True) & (df_merged_companies["panel_year"] > 2008) & (df_merged_companies["panel_year"] < 2015), True, False)
df_merged_companies["is_ownerid_change_2009"] = df_merged_companies.groupby(["companyid"])["is_ownerid_change_2009"].transform('any')

# ownerid, 2015-2017
df_merged_companies["is_ownerid_change_2015"] = np.where((df_merged_companies["is_ownerid_change"] == True) & (df_merged_companies["panel_year"] > 2014) & (df_merged_companies["panel_year"] < 2018), True, False)
df_merged_companies["is_ownerid_change_2015"] = df_merged_companies.groupby(["companyid"])["is_ownerid_change_2009"].transform('any')

As previously discussed in the MIP merge file, the environmental innovations survey questions changed from 2009 to 2015 and 2021, and due to that, the individual variables do not all have the same meaning depending on the year (e.g. `oekpz6` in 2015 onwards refers to noise pollution, while in 2009 it refers to soil contamination). Therefore, I will construct the variables `oekpz_avg` and `oekpd_avg`, which are averages of the other variables and can show a holistic view of eco-innovation at the respective companies.

In [54]:
eco_innovations = ["oekpz1", "oekpz2", "oekpz3", "oekpz4", "oekpz5", "oekpz6", "oekpz7", "oekpz8", "oekpz9"] 
eco_product_innovations = ["oekpd1", "oekpd2", "oekpd3", "oekpd4"]
df_merged_companies["oekpz_avg"] = df_merged_companies[eco_innovations].mean(axis=1)
df_merged_companies["oekpd_avg"] = df_merged_companies[eco_product_innovations].mean(axis=1)
df_merged_owners["oekpz_avg"] = df_merged_owners[eco_innovations].mean(axis=1)
df_merged_owners["oekpd_avg"] = df_merged_owners[eco_product_innovations].mean(axis=1)

In [55]:
pd.crosstab(index=df_merged_companies["jahr"], columns=df_merged_companies["is_owner_change_company"], values=df_merged_companies["oekpz_avg"], aggfunc="mean")

is_owner_change_company     False     True
jahr
2008.0                   0.457171  0.454570
2014.0                   0.323571  0.331623
2020.0                   0.335706  0.368314

In [56]:
pd.crosstab(index=df_merged_companies["jahr"], columns=df_merged_companies["is_owner_change_company"], values=df_merged_companies["oekpd_avg"], aggfunc="mean")

is_owner_change_company     False     True
jahr
2008.0                   0.455366  0.450533
2014.0                   0.281693  0.278795
2020.0                   0.372911  0.425392

In [87]:
df1 = df_merged_companies.groupby(["jahr"])["bges"].agg(['mean', 'median', 'std', 'count'])
df2 = df_merged_companies["is_owner_change_company"].groupby(["jahr"])["bges"].agg(['mean', 'median', 'std', 'count'])

              mean  median          std  count
jahr
2006.0  542.109978    40.0  5984.766289   3628
2007.0  583.347796    38.0  6319.867209   4333
2008.0  468.610769    36.0  5966.092973   5200
2009.0  434.296854    32.0  5495.838428   4562
2010.0  286.095613    30.0  2148.879617   4832
2011.0  353.437609    25.0  3531.832354   5169
2012.0  372.831137    28.0  3621.839783   5235
2013.0  306.746721    29.0  3209.099099   4422
2014.0  392.093429    30.0  3858.244195   4733
2015.0  279.184670    29.0  2837.011337   3953
2016.0  281.582653    28.0  3031.660309   4658
2017.0  405.648575    27.0  6974.552942   4385
2018.0  416.993767    30.0  6873.192988   4492
2019.0  361.000399    31.0  3122.262299   5018
2020.0  313.581608    28.0  2816.919923   4491
2021.0  341.151779    29.0  3396.407459   4243

In [89]:
df_merged_companies[df_merged_companies["is_owner_change_company"] == True].groupby(["jahr"])["bges"].agg(['mean', 'median', 'std', 'count'])

              mean  median          std  count
jahr
2006.0  423.283477    49.0  2909.586604   1277
2007.0  644.264026    47.0  7148.082550   1515
2008.0  348.996269    45.0  2717.945332   1876
2009.0  356.035586    40.0  2777.263198   1665
2010.0  313.550529    37.0  2745.695913   1702
2011.0  320.169973    34.0  2392.155579   1865
2012.0  378.869845    37.0  3229.576037   1867
2013.0  292.320859    38.0  2478.048064   1630
2014.0  357.721387    40.0  3333.375683   1730
2015.0  250.735393    38.0  1753.899547   1489
2016.0  254.235328    38.0  2371.395551   1738
2017.0  244.777704    35.0  1779.956579   1516
2018.0  259.596229    39.0  1834.898243   1538
2019.0  310.419337    40.0  2470.910455   1810
2020.0  272.693762    42.0  1963.744915   1587
2021.0  283.909281    45.0  1719.834290   1433

In [88]:
df_merged_owners.groupby(["jahr"])["bges"].agg(['mean', 'median', 'std', 'count'])

                mean  median           std  count
jahr
2006.0  13909.441606   425.0  64985.505720    274
2007.0  16671.676871   525.0  58531.076246    294
2008.0  15481.123209   516.0  68875.934342    349
2009.0  10890.707655   359.0  53005.911794    307
2010.0  12023.026936   289.0  52905.425905    297
2011.0   8042.198910   280.0  22628.613690    367
2012.0  14637.414365   271.0  50525.185462    362
2013.0   9709.268382   230.0  29400.177432    272
2014.0   9435.865204   209.0  28866.119711    319
2015.0   9301.507519   173.5  29031.068166    266
2016.0   8365.834459   111.0  28514.447049    296
2017.0  10050.943182   230.0  40419.138120    264
2018.0  11973.832335   159.0  49972.807879    334
2019.0   3792.100890   142.0  13393.839770    337
2020.0   2608.083333   116.5   9389.604962    276
2021.0   8794.069401   195.0  30094.481556    317

The following `crosstab()` show how many entries there are with eco-innovation to the firm infos (`oekpz_avg`) per year, separated with regards to change of ownership.

In [66]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_owner_change_company"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_owner_change_company  False  True
jahr
2006.0                       0      0
2007.0                       0      0
2008.0                    3010   1711
2009.0                       0      0
2010.0                       0      0
2011.0                       0      0
2012.0                       0      0
2013.0                       0      0
2014.0                    2676   1541
2015.0                       0      0
2016.0                       0      0
2017.0                       0      0
2018.0                       0      0
2019.0                       0      0
2020.0                    2572   1424
2021.0                       0      0

In [68]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_owner_change_2009"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_owner_change_2009  False  True
jahr
2006.0                    0      0
2007.0                    0      0
2008.0                 3910    811
2009.0                    0      0
2010.0                    0      0
2011.0                    0      0
2012.0                    0      0
2013.0                    0      0
2014.0                 3499    718
2015.0                    0      0
2016.0                    0      0
2017.0                    0      0
2018.0                    0      0
2019.0                    0      0
2020.0                 3365    631
2021.0                    0      0

In [69]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_owner_change_2015"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_owner_change_2015  False  True
jahr
2006.0                    0      0
2007.0                    0      0
2008.0                 4316    405
2009.0                    0      0
2010.0                    0      0
2011.0                    0      0
2012.0                    0      0
2013.0                    0      0
2014.0                 3820    397
2015.0                    0      0
2016.0                    0      0
2017.0                    0      0
2018.0                    0      0
2019.0                    0      0
2020.0                 3614    382
2021.0                    0      0

In [70]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_ownerid_change_company"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_ownerid_change_company  False  True
jahr
2006.0                         0      0
2007.0                         0      0
2008.0                      4534    187
2009.0                         0      0
2010.0                         0      0
2011.0                         0      0
2012.0                         0      0
2013.0                         0      0
2014.0                      4068    149
2015.0                         0      0
2016.0                         0      0
2017.0                         0      0
2018.0                         0      0
2019.0                         0      0
2020.0                      3865    131
2021.0                         0      0

In [71]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_ownerid_change_2009"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_ownerid_change_2009  False  True
jahr
2006.0                      0      0
2007.0                      0      0
2008.0                   4637     84
2009.0                      0      0
2010.0                      0      0
2011.0                      0      0
2012.0                      0      0
2013.0                      0      0
2014.0                   4136     81
2015.0                      0      0
2016.0                      0      0
2017.0                      0      0
2018.0                      0      0
2019.0                      0      0
2020.0                   3936     60
2021.0                      0      0

In [72]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_ownerid_change_2015"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_ownerid_change_2015  False  True
jahr
2006.0                      0      0
2007.0                      0      0
2008.0                   4637     84
2009.0                      0      0
2010.0                      0      0
2011.0                      0      0
2012.0                      0      0
2013.0                      0      0
2014.0                   4136     81
2015.0                      0      0
2016.0                      0      0
2017.0                      0      0
2018.0                      0      0
2019.0                      0      0
2020.0                   3936     60
2021.0                      0      0