#MIP Analysis

This script analyses the data generated by the merger of the ownership data and the company panel information

In [38]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

Load the datasets

In [18]:
df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies.csv")
df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners.csv")

C:\Users\lucas\AppData\Local\Temp\ipykernel_37912\2616293258.py:1: DtypeWarning: Columns (19,29,48,49,50,51,52,53,55,63,74,75,76,77,78,79,80,81,84,85,88,89,93,98,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,134,135,136,137,142,143,144,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,199,200,206,208,209,210,211,213,217,218,219,220,231,235,236,237,238,239,240,247,248,251,252,254,255,256,257,258,260,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,310,312,314,316,318,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,386,400,404,408,409,410,411,412,413,427,429,435,438,439,440,441,442,443,444,445,446,447,448,449,450,464,467,469,472,474,477,479,482,484,487,489,492,494,497,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,540,541,542,549,550,551,553,554,555,556,557,558,559,560,562,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,595,598,605,608,612,613,614,617,620,621,622,624,625,626,627,628,629,637,638,639,644,645,646,647,648,649,651,656,657,658,659,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,725,726,727,728,729,730,731,733,735,737,738,741,743,756,757,758,759,760,761,762,766,769,772,774,778,779,780,781,782,783,784,786,787,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,842,845,847,851,855,858,861,862,863,864,865,869,870,871,872,873,875,877,880,884,887,890,893,896,899,902,907,913,918,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,952,954,956,960,962,963,965,967,968,969,970,978,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1029,1032,1034,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1093,1095,1097,1099,1101,1105,1106,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1160,1162,1163,1164,1165,1171,1181,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1212,1213,1214,1215,1216,1217,1218,1224,1226,1228,1230,1232,1246,1264,1284,1294,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1316,1318,1319,1321,1323,1325,1326,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1407,1408,1409,1410,1411,1412,1413,1414,1416,1420,1421,1422,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1474,1475,1476,1477,1478,1485,1487,1489,1491,1499,1501,1502,1503,1504,1505,1507,1512,1522,1533,1534,1535,1536,1537,1541,1544,1545,1547,1548,1551,1552,1554,1555,1556,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1582,1584,1586,1588,1590,1592,1598,1617,1618,1619,1620,1621,1622,1623,1624,1627,1628) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies.csv")
C:\Users\lucas\AppData\Local\Temp\ipykernel_37912\2616293258.py:2: DtypeWarning: Columns (7,76,172,173,174,175,176,177,178,179,180,181,182,183,184,185,197,206,207,208,223,224,225,226,227,228,253,276,277,278,280,281,282,317,318,319,321,322,323,325,326,327,329,330,331,332,333,335,336,337,338,339,340,341,342,343,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,374,538,553,554,555,556,557,583,586,593,596,600,601,602,615,616,625,645,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,713,714,718,719,731,744,745,746,747,748,749,750,754,757,760,762,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,912,913,914,953,969,971,972,973,974,975,976,977,978,979,982,983,984,985,986,987,988,989,990,992,993,994,995,997,998,999,1000,1002,1003,1004,1005,1022,1025,1026,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1093,1094,1150,1159,1169,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1201,1202,1203,1204,1205,1206,1234,1252,1272,1282,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1313,1316,1317,1322,1323,1325,1326,1328,1329,1331,1332,1334,1335,1337,1338,1339,1342,1343,1345,1346,1347,1349,1350,1351,1352,1353,1354,1356,1358,1359,1362,1364,1365,1368,1370,1371,1373,1374,1376,1377,1378,1379,1380,1381,1382,1383,1384,1386,1387,1388,1389,1390,1392,1395,1396,1397,1398,1399,1400,1402,1428,1429,1430,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1460,1463,1464,1465,1466,1489,1490,1491,1492,1493,1495,1510,1521,1529,1532,1535,1539,1540,1548,1550,1570) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners.csv")

Two columns indicating if the company was involved in a ownership change in any of the panel years, one for `b_crefo` and one for `ownerid`

In [19]:
df_merged_companies["is_owner_change_company"] = df_merged_companies.groupby(["companyid"])["is_owner_change"].transform('any')
df_merged_companies["is_ownerid_change_company"] = df_merged_companies.groupby(["companyid"])["is_ownerid_change"].transform('any')

Further six columns are added, in order to indicate when the ownership change took place. The periods are constructed so that there is cleary a survey before and after the acquisition (2009, whose period is 2006-2008; 2015, whose period is 2012-2014; and 2021, which emcompasses 2018-2020)

Change of ownership based on `b_crefo`: 
- 2009-2011 = `is_owner_change_2009`
- 2015-2017 = `is_owner_change_2015`
- 2009-2017 = `is_owner_change_2009_2017`

Change of ownership based on `ownerid`:
- 2009-2011 = `is_ownerid_change_2009`
- 2015-2017 = `is_ownerid_change_2015`
- 2009-2017 = `is_ownerid_change_2009_2017`

In [43]:
# b_crefo, 2009-2014
df_merged_companies["is_owner_change_2009"] = np.where((df_merged_companies["is_owner_change"] == True) & (df_merged_companies["panel_year"] > 2008) & (df_merged_companies["panel_year"] < 2012), True, False)
df_merged_companies["is_owner_change_2009"] = df_merged_companies.groupby(["companyid"])["is_owner_change_2009"].transform('any')

# b_crefo, 2015-2017
df_merged_companies["is_owner_change_2015"] = np.where((df_merged_companies["is_owner_change"] == True) & (df_merged_companies["panel_year"] > 2014) & (df_merged_companies["panel_year"] < 2018), True, False)
df_merged_companies["is_owner_change_2015"] = df_merged_companies.groupby(["companyid"])["is_owner_change_2015"].transform('any')

# b_crefo, 2009-2017
df_merged_companies["is_owner_change_2009_2017"] = np.where((df_merged_companies["is_owner_change"] == True) & (df_merged_companies["panel_year"] > 2008) & (df_merged_companies["panel_year"] < 2018), True, False)
df_merged_companies["is_owner_change_2009_2017"] = df_merged_companies.groupby(["companyid"])["is_owner_change_2009_2017"].transform('any')

# ownerid, 2009-2014
df_merged_companies["is_ownerid_change_2009"] = np.where((df_merged_companies["is_ownerid_change"] == True) & (df_merged_companies["panel_year"] > 2008) & (df_merged_companies["panel_year"] < 2012), True, False)
df_merged_companies["is_ownerid_change_2009"] = df_merged_companies.groupby(["companyid"])["is_ownerid_change_2009"].transform('any')

# ownerid, 2015-2017
df_merged_companies["is_ownerid_change_2015"] = np.where((df_merged_companies["is_ownerid_change"] == True) & (df_merged_companies["panel_year"] > 2014) & (df_merged_companies["panel_year"] < 2018), True, False)
df_merged_companies["is_ownerid_change_2015"] = df_merged_companies.groupby(["companyid"])["is_ownerid_change_2009"].transform('any')

# ownerid, 2009-2017
df_merged_companies["is_ownerid_change_2009_2017"] = np.where((df_merged_companies["is_ownerid_change"] == True) & (df_merged_companies["panel_year"] > 2008) & (df_merged_companies["panel_year"] < 2018), True, False)
df_merged_companies["is_ownerid_change_2009_2017"] = df_merged_companies.groupby(["companyid"])["is_ownerid_change_2009_2017"].transform('any')

As previously discussed in the MIP merge file, the environmental innovations survey questions changed from 2009 to 2015 and 2021, and due to that, the individual variables do not all have the same meaning depending on the year (e.g. `oekpz6` in 2015 onwards refers to noise pollution, while in 2009 it refers to soil contamination). Therefore, I will construct the variables `oekpz_avg` and `oekpd_avg`, which are averages of the other variables and can show a holistic view of eco-innovation at the respective companies.

In [21]:
eco_innovations = ["oekpz1", "oekpz2", "oekpz3", "oekpz4", "oekpz5", "oekpz6", "oekpz7", "oekpz8", "oekpz9"] 
eco_product_innovations = ["oekpd1", "oekpd2", "oekpd3", "oekpd4"]
df_merged_companies["oekpz_avg"] = df_merged_companies[eco_innovations].mean(axis=1)
df_merged_companies["oekpd_avg"] = df_merged_companies[eco_product_innovations].mean(axis=1)
df_merged_owners["oekpz_avg"] = df_merged_owners[eco_innovations].mean(axis=1)
df_merged_owners["oekpd_avg"] = df_merged_owners[eco_product_innovations].mean(axis=1)

However, in other to not lose information through the aggregation of all the variables into averages, I matched, were it was possible, the different variables throughout the years. The variable descriptions as they appear in the scientific use guide for MIP will be commented.

In [26]:
#oekpz1, 2015/2021: Reduction of energy consumption
#oekpz2, 2009: Reduction in energy consumption 
df_merged_companies["energy_consumption"] = np.where((df_merged_companies["jahr"] == 2014) | (df_merged_companies["jahr"] == 2020), df_merged_companies["oekpz1"], df_merged_companies["oekpz2"])
df_merged_owners["energy_consumption"] = np.where((df_merged_owners["jahr"] == 2014) | (df_merged_owners["jahr"] == 2020), df_merged_owners["oekpz1"], df_merged_owners["oekpz2"])

In [27]:
#oekpz2, 2015/2021: Reduction of material / water consumption
#oekpz1, 2009: Reduction in material use
df_merged_companies["material_use"] = np.where((df_merged_companies["jahr"] == 2014) | (df_merged_companies["jahr"] == 2020), df_merged_companies["oekpz2"], np.where(df_merged_companies["jahr"] == 2008, df_merged_companies["oekpz1"], None))
df_merged_owners["material_use"] = np.where((df_merged_owners["jahr"] == 2014) | (df_merged_owners["jahr"] == 2020), df_merged_owners["oekpz2"], np.where(df_merged_owners["jahr"] == 2008, df_merged_owners["oekpz1"], None))

In [28]:
#oekpz3: Reduction of CO2 emissions (2009, 2015/2021)
df_merged_companies["emissions_CO2"] = df_merged_companies["oekpz3"]
df_merged_owners["emissions_CO2"] = df_merged_owners["oekpz3"]
#oekpz4: Reduction of other air pollution (2015/2021), Reduction of other emissions (2009) 
df_merged_companies["emissions_other"] = df_merged_companies["oekpz4"]
df_merged_owners["emissions_other"] = df_merged_owners["oekpz4"]
#oekpz8: Replacement of dangerous material (2015/2021), Replament of hazardous material (2009)
df_merged_companies["hazardous_material"] = df_merged_companies["oekpz8"]
df_merged_owners["hazardous_material"] = df_merged_owners["oekpz8"]
#oekpz9: Recycling of waste / waste water / material (2015/2021), Improvement in recycling (2009)
df_merged_companies["recycling"] = df_merged_companies["oekpz9"]
df_merged_owners["recycling"] = df_merged_owners["oekpz9"]

#Regression

In [48]:
# Filter the data for the relevant years
df_did = df_merged_companies[(df_merged_companies["jahr"] == 2008) | (df_merged_companies["jahr"] == 2014)]
df_did = df_did[["companyid", "jahr", "oekpz_avg", "is_owner_change_2009", "is_owner_change_2015", "is_owner_change_2009_2017"]]
df_did["jahr_2014"] = np.where(df_did["jahr"] == 2014, 1, 0)
df_did["is_owner_change_2009"] = np.where(df_did["is_owner_change_2009"] == True, 1, 0)

# Set up the difference-in-differences model
model_did = smf.ols(formula='oekpz_avg ~ is_owner_change_2009 + jahr_2014 + is_owner_change_2009:jahr_2014', data=df_did)

# Fit the model
results_did = model_did.fit()

# Print the model summary
print(results_did.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              oekpz_avg   R-squared:                       0.015
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     44.85
Date:                Wed, 06 Dec 2023   Prob (F-statistic):           9.20e-29
Time:                        17:18:43   Log-Likelihood:                -7004.2
No. Observations:                8938   AIC:                         1.402e+04
Df Residuals:                    8934   BIC:                         1.404e+04
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                          0.4565      0.008     56.365      0.000       0.441       0.472
is_owner_change_2009              -0.0027      0.027     -0.104      0.918      -0.055       0.049
jahr_2014                         -0.1326      0.012    -11.266      0.000      -0.156      -0.110
is_owner_change_2009:jahr_2014     0.0329      0.039      0.837      0.403      -0.044       0.110
==============================================================================
Omnibus:                     1935.545   Durbin-Watson:                   1.877
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3478.300
Skew:                           1.405   Prob(JB):                         0.00
Kurtosis:                       4.201   Cond. No.                         8.96
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [59]:
# Filter the data for the relevant years
df_did = df_merged_companies[(df_merged_companies["jahr"] == 2020) | (df_merged_companies["jahr"] == 2014)]
df_did = df_did[["companyid", "jahr", "oekpz_avg", "is_owner_change_2009", "is_owner_change_2015", "is_owner_change_2009_2017"]]
df_did["jahr_2020"] = np.where(df_did["jahr"] == 2020, 1, 0)
df_did["is_owner_change_2015"] = np.where(df_did["is_owner_change_2015"] == True, 1, 0)

# Set up the difference-in-differences model
model_did = smf.ols(formula='oekpz_avg ~ is_owner_change_2015 + jahr_2020 + is_owner_change_2015:jahr_2020', data=df_did)

# Fit the model
results_did = model_did.fit()

# Print the model summary
print(results_did.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              oekpz_avg   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.509
Date:                Wed, 06 Dec 2023   Prob (F-statistic):              0.210
Time:                        17:32:10   Log-Likelihood:                -5161.5
No. Observations:                8213   AIC:                         1.033e+04
Df Residuals:                    8209   BIC:                         1.036e+04
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                          0.3275      0.007     44.615      0.000       0.313       0.342
is_owner_change_2015              -0.0108      0.024     -0.453      0.651      -0.058       0.036
jahr_2020                          0.0196      0.011      1.862      0.063      -0.001       0.040
is_owner_change_2015:jahr_2020     0.0128      0.034      0.374      0.709      -0.054       0.080
==============================================================================
Omnibus:                     2314.138   Durbin-Watson:                   1.835
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5312.820
Skew:                           1.610   Prob(JB):                         0.00
Kurtosis:                       5.270   Cond. No.                         8.93
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [61]:
# Filter the data for the relevant years
df_did = df_merged_companies[(df_merged_companies["jahr"] == 2008) | (df_merged_companies["jahr"] == 2020)]
df_did = df_did[["companyid", "jahr", "oekpz_avg", "is_owner_change_2009", "is_owner_change_2015", "is_owner_change_2009_2017"]]
df_did["jahr_2020"] = np.where(df_did["jahr"] == 2020, 1, 0)
df_did["is_owner_change_2009_2017"] = np.where(df_did["is_owner_change_2015"] == True, 1, 0)

# Set up the difference-in-differences model
model_did = smf.ols(formula='oekpz_avg ~ is_owner_change_2009_2017 + jahr_2020 + is_owner_change_2009_2017:jahr_2020', data=df_did)

# Fit the model
results_did = model_did.fit()

# Print the model summary
print(results_did.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              oekpz_avg   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     46.48
Date:                Wed, 06 Dec 2023   Prob (F-statistic):           1.06e-38
Time:                        17:35:48   Log-Likelihood:                -6668.9
No. Observations:                8625   AIC:                         1.335e+04
Df Residuals:                    8620   BIC:                         1.338e+04
Df Model:                           4
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                               0.4500      0.008     56.199      0.000       0.434       0.466
is_owner_change_2009_2017               0.0076      0.027      0.279      0.780      -0.046       0.061
jahr_2020                              -0.1061      0.012     -8.919      0.000      -0.129      -0.083
is_owner_change_2009_2017:jahr_2020    -0.0064      0.040     -0.162      0.871      -0.084       0.071
bges                                 1.093e-05   1.13e-06      9.704      0.000    8.72e-06    1.31e-05
==============================================================================
Omnibus:                     1733.569   Durbin-Watson:                   1.949
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2986.613
Skew:                           1.339   Prob(JB):                         0.00
Kurtosis:                       4.068   Cond. No.                     4.01e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.01e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

#Descriptive Data

In [6]:
pd.crosstab(index=df_merged_companies["jahr"], columns=df_merged_companies["is_owner_change_company"], values=df_merged_companies["oekpz_avg"], aggfunc="mean")

is_owner_change_company     False     True
jahr
2008.0                   0.457171  0.454570
2014.0                   0.323571  0.331623
2020.0                   0.335706  0.368314

In [7]:
pd.crosstab(index=df_merged_companies["jahr"], columns=df_merged_companies["is_owner_change_company"], values=df_merged_companies["oekpd_avg"], aggfunc="mean")

is_owner_change_company     False     True
jahr
2008.0                   0.455366  0.450533
2014.0                   0.281693  0.278795
2020.0                   0.372911  0.425392

In [8]:
df_merged_companies.groupby(["jahr"])["bges"].agg(['mean', 'median', 'std', 'count'])

              mean  median          std  count
jahr
2006.0  542.109978    40.0  5984.766289   3628
2007.0  583.347796    38.0  6319.867209   4333
2008.0  468.610769    36.0  5966.092973   5200
2009.0  434.296854    32.0  5495.838428   4562
2010.0  286.095613    30.0  2148.879617   4832
2011.0  353.437609    25.0  3531.832354   5169
2012.0  372.831137    28.0  3621.839783   5235
2013.0  306.746721    29.0  3209.099099   4422
2014.0  392.093429    30.0  3858.244195   4733
2015.0  279.184670    29.0  2837.011337   3953
2016.0  281.582653    28.0  3031.660309   4658
2017.0  405.648575    27.0  6974.552942   4385
2018.0  416.993767    30.0  6873.192988   4492
2019.0  361.000399    31.0  3122.262299   5018
2020.0  313.581608    28.0  2816.919923   4491
2021.0  341.151779    29.0  3396.407459   4243

In [9]:
df_merged_companies[df_merged_companies["is_owner_change_company"] == True].groupby(["jahr"])["bges"].agg(['mean', 'median', 'std', 'count'])

              mean  median          std  count
jahr
2006.0  423.283477    49.0  2909.586604   1277
2007.0  644.264026    47.0  7148.082550   1515
2008.0  348.996269    45.0  2717.945332   1876
2009.0  356.035586    40.0  2777.263198   1665
2010.0  313.550529    37.0  2745.695913   1702
2011.0  320.169973    34.0  2392.155579   1865
2012.0  378.869845    37.0  3229.576037   1867
2013.0  292.320859    38.0  2478.048064   1630
2014.0  357.721387    40.0  3333.375683   1730
2015.0  250.735393    38.0  1753.899547   1489
2016.0  254.235328    38.0  2371.395551   1738
2017.0  244.777704    35.0  1779.956579   1516
2018.0  259.596229    39.0  1834.898243   1538
2019.0  310.419337    40.0  2470.910455   1810
2020.0  272.693762    42.0  1963.744915   1587
2021.0  283.909281    45.0  1719.834290   1433

In [10]:
df_merged_owners.groupby(["jahr"])["bges"].agg(['mean', 'median', 'std', 'count'])

                mean  median           std  count
jahr
2006.0  13909.441606   425.0  64985.505720    274
2007.0  16671.676871   525.0  58531.076246    294
2008.0  15481.123209   516.0  68875.934342    349
2009.0  10890.707655   359.0  53005.911794    307
2010.0  12023.026936   289.0  52905.425905    297
2011.0   8042.198910   280.0  22628.613690    367
2012.0  14637.414365   271.0  50525.185462    362
2013.0   9709.268382   230.0  29400.177432    272
2014.0   9435.865204   209.0  28866.119711    319
2015.0   9301.507519   173.5  29031.068166    266
2016.0   8365.834459   111.0  28514.447049    296
2017.0  10050.943182   230.0  40419.138120    264
2018.0  11973.832335   159.0  49972.807879    334
2019.0   3792.100890   142.0  13393.839770    337
2020.0   2608.083333   116.5   9389.604962    276
2021.0   8794.069401   195.0  30094.481556    317

The following `crosstab()` show how many entries there are with eco-innovation to the firm infos (`oekpz_avg`) per year, separated with regards to change of ownership.

In [11]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_owner_change_company"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_owner_change_company  False  True
jahr
2006.0                       0      0
2007.0                       0      0
2008.0                    3010   1711
2009.0                       0      0
2010.0                       0      0
2011.0                       0      0
2012.0                       0      0
2013.0                       0      0
2014.0                    2676   1541
2015.0                       0      0
2016.0                       0      0
2017.0                       0      0
2018.0                       0      0
2019.0                       0      0
2020.0                    2572   1424
2021.0                       0      0

In [12]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_owner_change_2009"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_owner_change_2009  False  True
jahr
2006.0                    0      0
2007.0                    0      0
2008.0                 3910    811
2009.0                    0      0
2010.0                    0      0
2011.0                    0      0
2012.0                    0      0
2013.0                    0      0
2014.0                 3499    718
2015.0                    0      0
2016.0                    0      0
2017.0                    0      0
2018.0                    0      0
2019.0                    0      0
2020.0                 3365    631
2021.0                    0      0

In [13]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_owner_change_2015"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_owner_change_2015  False  True
jahr
2006.0                    0      0
2007.0                    0      0
2008.0                 4316    405
2009.0                    0      0
2010.0                    0      0
2011.0                    0      0
2012.0                    0      0
2013.0                    0      0
2014.0                 3820    397
2015.0                    0      0
2016.0                    0      0
2017.0                    0      0
2018.0                    0      0
2019.0                    0      0
2020.0                 3614    382
2021.0                    0      0

In [14]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_ownerid_change_company"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_ownerid_change_company  False  True
jahr
2006.0                         0      0
2007.0                         0      0
2008.0                      4534    187
2009.0                         0      0
2010.0                         0      0
2011.0                         0      0
2012.0                         0      0
2013.0                         0      0
2014.0                      4068    149
2015.0                         0      0
2016.0                         0      0
2017.0                         0      0
2018.0                         0      0
2019.0                         0      0
2020.0                      3865    131
2021.0                         0      0

In [15]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_ownerid_change_2009"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_ownerid_change_2009  False  True
jahr
2006.0                      0      0
2007.0                      0      0
2008.0                   4637     84
2009.0                      0      0
2010.0                      0      0
2011.0                      0      0
2012.0                      0      0
2013.0                      0      0
2014.0                   4136     81
2015.0                      0      0
2016.0                      0      0
2017.0                      0      0
2018.0                      0      0
2019.0                      0      0
2020.0                   3936     60
2021.0                      0      0

In [16]:
pd.crosstab(df_merged_companies["jahr"], df_merged_companies["is_ownerid_change_2015"], values=df_merged_companies["oekpz_avg"], aggfunc="count")

is_ownerid_change_2015  False  True
jahr
2006.0                      0      0
2007.0                      0      0
2008.0                   4637     84
2009.0                      0      0
2010.0                      0      0
2011.0                      0      0
2012.0                      0      0
2013.0                      0      0
2014.0                   4136     81
2015.0                      0      0
2016.0                      0      0
2017.0                      0      0
2018.0                      0      0
2019.0                      0      0
2020.0                   3936     60
2021.0                      0      0

In [17]:
df_merged_companies.groupby("jahr")["um"].median()

jahr
2006.0    9.974733
2007.0    9.055493
2008.0    8.288808
2009.0    7.139757
2010.0    7.236571
2011.0    5.867490
2012.0    6.356447
2013.0    6.180423
2014.0    7.177896
2015.0    6.773039
2016.0    6.698718
2017.0    6.063073
2018.0    6.991114
2019.0    7.641428
2020.0    6.649822
2021.0    7.162249
Name: um, dtype: float64